<ion-view style="" id="page3" title="{{grado.attachments[0].title}}">
    <ion-content class="has-header" padding="false">
        <div class="list">
            <div class="item item-divider text-center">ESTRUCTURA</div>
            <div class="tabla" ng-bind-html="estructura"></div>
            <p style="padding: 4px; font-size: 12px;">{{nota_estructura}}</p>
            <div class="item item-divider text-center">MENCIONES E ITINERARIOS</div>
            <div class="" ng-bind-html="menciones" style="padding: 4px; text-align:justify;"></div>           
        </div>
    </ion-content>
</ion-view>