<!-- La template o plantilla va encerrada entre las etiquetas <ion-view></ion-view> -->
<ion-view style="" id="page8" title="Estudios de Grado">
    <ion-content padding="false" class="manual-remove-top-padding has-header">

        <div style="" class="list card" ng-show='mensajeError'>
            <div class="item item-divider">ERROR</div>
            <div class="item item-body">
                <img style="display: block; margin-left: 20%; margin-right: 20%;"
                     src="img/error.png" height="auto" width="60%">
                <p>
                    Ha habido un error al conectar con el servidor,
                    rogamos disculpen las molestias
                </p>
            </div>
            <div class="item item-divider item-icon-left text-center" ng-click='reiniciarGrados()'>
                <i class="icon ion-refresh"></i>
                Reintentar
            </div>
        </div>

        <div ng-show='!mensajeError' ng-repeat="grado in grados">
            <div style="" class="list card">
                <div class="item item-divider">{{grado.attachments[0].title}}</div>
                <div class="item item-body">
                    <div>
                        <a ui-sref="tabsController.introGrado" style="display:block;" ng-click="guardarGrado(grado)">
                            <img style="display: block; margin-left: auto; margin-right: auto;" src="{{grado.thumbnail}}" height="auto" width="100%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>